<div class="filters">
  <h3>Filters</h3>
  <form class="filter-controls">
    <div class="filter-control">
      <label class="hidden">Type</label>
      <select>
        <option>Cat</option>
        <option>Dog</option>
      </select>
    </div>
    <div class="filter-control">
      <label class="hidden">Breed</label>
      <select>
        <option>Breed 1</option>
        <option>Breed 2</option>
      </select>
    </div>
    <div class="filter-control">
      <label class="hidden">Age</label>
      <select>
        <option>Age 1</option>
        <option>Age 2</option>
      </select>
    </div>
    <div class="filter-control">
      <label class="hidden">Sex</label>
      <select>
        <option>Female</option>
        <option>Male</option>
      </select>
    </div>
    <button type="submit" class="button submit">Filter</button>
    <a href="#" class="button reset">Reset</a>
  </form>
  <div class="filter-meta">
    <p><span class="results-count">90 Results</span> | <span class="page-range">Page 1 of 10</span></p>
  </div>
</div>
