<div class="filters">
  <a href="#" class="button">Cats</a>
  <a href="#" class="button">Dogs</a>
  <form class="filter-controls">
    <div class="filter-control">
      <label class="hidden">Age</label>
      <select>
        <option>Age 0 to 3</option>
        <option>Age 4 to 8</option>
      </select>
    </div>
    <div class="filter-control">
      <label class="hidden">Sex</label>
      <select>
        <option>Female</option>
        <option>Male</option>
      </select>
    </div>
    <button type="submit" class="button submit">Find</button>
    <a href="{{ site.baseurl }}/buddies/" class="button reset">Reset</a>
  </form>
  <div class="filter-meta">
    <p><span class="results-count">90 Results</span> | <span class="page-range">Page 1 of 10</span></p>
  </div>
</div>
