<footer class="site-footer" role="contentinfo">
  <div class="info">
    <div class="container">
      <div class="row">
        <div class="five columns">
          <div class="contact">
            <a href="{{ site.baseurl }}" class="brand">{{ site.title }}</a>
            <p>65 W. Seegers Rd.<br>Arlington Heights, IL 60005<br>(847) 290-5806<br>Hotline: (847) 813-7206</p>
            <p><a href="mailto:#">info@thebuddyfoundation.org</a></p>
          </div>
        </div>
        <div class="seven columns">
          <h5>Hours</h5>
          <ol class="hours">
            <li>
              <span class="hours-days">Tuesday, Thursday, &amp; Friday</span>
              <span class="hours-times">10 am&ndash;12 pm &amp; 4 pm&ndash;8 pm</span>
            </li>
            <li>
              <span class="hours-days">Saturday</span>
              <span class="hours-times">10:00am&ndash;4:00pm</span>
            </li>
            <li>
              <span class="hours-days">Sunday</span>
              <span class="hours-times">10:00am&ndash;2:00pm</span>
            </li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <ul class="social">
            <li>
              <a href="#">
                <svg viewBox="0 0 44 44" title="Facebook"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/svg/social-icons.svg#facebook"></use></svg>
              </a>
            </li>
            <li>
              <a href="#">
                <svg viewBox="0 0 44 44" title="Instagram"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/svg/social-icons.svg#instagram"></use></svg>
              </a>
            </li>
            <li>
              <a href="#">
                <svg viewBox="0 0 44 44" title="Twitter"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ site.baseurl }}/assets/svg/social-icons.svg#twitter"></use></svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
