<footer class="site-footer" role="contentinfo">
  <div class="info">
    <div class="container">
      <a href="{{ site.baseurl }}" class="brand">{{ site.title }}</a>
      <div class="row">
        <div class="six columns">
          <div class="contact">
            <p>65 W. Seegers Rd.<br>Arlington Heights, IL 60005<br>(847) 290-5806<br>Hotline: (847) 813-7206</p>
            <p><a href="mailto:#">info@thebuddyfoundation.org</a></p>
          </div>
        </div>
        <div class="six columns">
          <h5>Animal Viewing and Adoption Hours</h5>
          <ol class="hours">
            <li>
              <span class="hours-days">Tuesday, Thursday, &amp; Friday</span>
              <span class="hours-times">10 am&ndash;12 pm &amp; 4 pm&ndash;8 pm</span>
            </li>
            <li>
              <span class="hours-days">Saturday</span>
              <span class="hours-times">10:00am&ndash;4:00pm</span>
            </li>
            <li>
              <span class="hours-days">Sunday</span>
              <span class="hours-times">10:00am&ndash;2:00pm</span>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="engagement">
    <div class="container">
      <div class="row">
        <div class="seven columns">
          <p>Stay informed and up-to-date with our monthly newsletter.</p>
          <p><a href="#">Download our current newsletter</a></p>
        </div>
        <div class="five columns">
          <ul class="social">
            <li>
              <a href="#">
                Facebook
              </a>
            </li>
            <li>
              <a href="#">
                Instagram
              </a>
            </li>
            <li>
              <a href="#">
                Twitter
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
