<header class="site-header" role="banner">
  <div class="container">
    <a href="{{ site.baseurl }}/" class="brand">
      <img src="{{ site.baseurl }}/assets/svg/logo.svg">
    </a>
    <nav class="site-nav" role="navigation">
      <ul class="nav">
        <li><a href="{{ site.baseurl }}/adopt/">Adopt</a>
          <ul class="subnav">

          </ul>

        </li>
        <li><a href="{{ site.baseurl }}/donate/">Donate</a></li>
        <li><a href="{{ site.baseurl }}/volunteer/">Volunteer</a></li>
        <li><a href="{{ site.baseurl }}/about/">About</a></li>
      </ul>
    </nav>
    <button type="button" class="mobile-nav-control mobile-nav-open"></button>
  </div>
</header>
