<header class="site-header" role="banner">
  <div class="container">
    <a href="{{ site.baseurl }}/" class="brand">
      <img src="{{ site.baseurl }}/assets/svg/logo.svg">
    </a>
    <nav class="site-nav" id="site-nav" role="navigation">
      <ul class="nav">
        <li class="has-subnav"><a href="{{ site.baseurl }}/adopt/">Adopt</a>
          <ul class="subnav">
            <li><a href="#">Process</a></li>
            <li><a href="{{ site.baseurl }}/adopt/stories/">Stories</a></li>
          </ul>
        </li>
        <li class="has-subnav"><a href="{{ site.baseurl }}/donate/">Donate</a>
          <ul class="subnav">
            <li><a href="#">Membership</a></li>
            <li><a href="#">Wishlist</a></li>
            <li><a href="#">Contribute</a></li>
          </ul>
        </li>
        <li class="has-subnav"><a href="{{ site.baseurl }}/volunteer/">Volunteer</a>
          <ul class="subnav">
            <li><a href="#">Form</a></li>
          </ul>
        </li>
        <li><a href="{{ site.baseurl }}/about/">About</a></li>
      </ul>
    </nav>
    <button type="button" class="mobile-nav-control mobile-nav-open"></button>
  </div>
</header>
