

.buddies{
  @extend .unstyled-list;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  margin-bottom: 2rem;
}

.buddy{

  &.not-round img{
    border-radius: $border-radius-box;
  }

  figure{
    margin: 0;

    img{
      @extend .responsive-img;
      border-radius: $border-radius-img;
    }

  }

  &.card{
    border-radius: $border-radius-box;
    box-shadow: 0 4px 6px -1px #eee, 0 2px 4px -1px #ccc;
    text-align: center;
    position: relative;
    padding: 1rem 1rem 2rem;

    a{
      display: block;
      text-decoration: none;
      color: inherit;
    }

    figcaption{

      h2{
        margin-top: .5rem;
        margin-bottom: .25rem;
        font-size: 1.125rem;
      }

      p{
        margin-top: 0;
        margin-bottom: 0;
        font-size: .75rem;
        font-style: italic;
      }
    }

    .special-buddy-icon{
      position: absolute;
      top: .75rem;
      right: .75rem;
    }
  }

  &.detail{
    .information{
      margin-bottom: 1rem;
    }

    .buddy-content{
      order: 1;
    }

    .buddy-image{
      order: 2;
      padding-left: 4rem;
    }

    h1{
      text-transform: none;
    }

    .featured-image{
      margin: 0 0 1rem;
      text-align: center;

      @media (#{$bp-larger-than-tablet}) {
        position: absolute;
        top: -10%;
      }
    }
  }
}

//buddy info table

.info-table{
  @extend .unstyled-list;
  columns: 2;
  column-gap: 2rem;
  margin-bottom: 2rem;
  font-size: .875rem;

  li{
    padding: .5rem 0;
    display: flex;
    break-inside: avoid-column;

    span{
      border-bottom: 1px solid $border-color;
    }

  }
}

.info-table-label{
  width: 30%;
  font-weight: 300;
}

.info-table-value{
  width: 70%;
  text-align: right;

  a{
    color: inherit;
    text-decoration: none;
    font-weight: 500;
  }
}

.special-buddy{
  display: flex;
  margin-bottom: .75rem;
  padding: .5rem;
  background-color: $light-orange;
  border-radius: $border-radius-box;
  font-size: .875rem;

  .special-buddy-message{
    margin: .5rem .5rem .5rem 1rem;
    line-height: 1.4;
    vertical-align: middle;
  }
}

.adopt-buddies{
  margin-bottom: 2rem;
  text-align: center;

  h2{
    text-transform: uppercase;
  }

  p{
    max-width: 50%;
    margin: 0 auto 2rem;
  }
}

.special-buddy-icon{
  display: inline-block;
  height: 3rem;
  width: 3rem;
  background: url(../svg/special-buddy.svg) no-repeat;
  background-size: 80%;
  background-position: center center;
  background-color: $light-orange;
  border-radius: 50%;
  vertical-align: middle;
}
