.button{
  display: inline-block;
  height: auto;
  padding: .355rem 1.5rem;
  background: transparent;
  border: 2px solid $primary-color;
  border-radius: 0;
  text-decoration: none !important;
  letter-spacing: .5px;
  text-transform: uppercase;
  transition: opacity .2s ease;
  color: $primary-color;
  font-size: .875rem;

  &.more{
    display: block;
    width: 40%;
    margin: 2rem auto;
    background: $primary-color;
    text-align: center;
    color: $font-color;
  }

  &.solid{
    background: $primary-color;
    color: $white;
  }

  &:hover{
    opacity: .7;
  }

}
