.events{
  @extend .unstyled-list;

  display: flex;
  flex-wrap: wrap;

  @media (#{$bp-larger-than-tablet}) {
    margin-left: -2rem;
  }

  li{
    width: 100%;
    margin-bottom: 1rem;
    background: $secondary-color;

    @media (#{$bp-larger-than-tablet}) {
      width: calc(50% - 2rem);
      margin-left: 2rem;
      margin-bottom: 2rem;
      flex: 1;

    }

    @media (#{$bp-larger-than-desktop}) {
      width: calc(33.3333% - 2rem);
      margin-left: 2rem;
      margin-bottom: 0;
    }

    a{
      display: block;
      height: 100%;
      padding: 1rem;
      text-align: left;
      color: $primary-color;
      text-decoration: none;

      @media (#{$bp-larger-than-phablet}) {
        margin-bottom: 0;
      }

      p{
        margin-top: .5rem;
        margin-bottom: 0;
        font-size: .875rem;
      }
    }
  }

}

.event{
  &.detail{
    .information{
      margin-bottom: 1rem;
    }

    h1{
      text-transform: none;
    }

    img{
      @extend .responsive-img;
    }
  }
}

.event-details{
  @extend .unstyled-list;

  li{
    margin-bottom: .125rem;
  }
}

.event-contact{
  margin-top: 2rem;
}

.event-location-map{
  display: block;
  margin-top: 2rem;

  @media (#{$bp-larger-than-phablet}) {
    margin-top: 0;
  }
}

.events-schedule{
  h2{
    margin-top: 2rem;
    margin-bottom: .5rem;

    &:first-child{
      margin-top: 0;
    }
  }
}
