.filters{
  h3{
    font-size: 100%;
    margin-bottom: 1rem;
    margin-right: 1rem;

    @media (#{$bp-larger-than-desktop}) {
      display: inline-block;
      margin-bottom: 0;
    }
  }

  .button{
    padding: 0 1rem;
    background: $light-grey;
    border: 0;
    color: $primary-color;
    margin-right: .75rem;
    font-size: 100%;
    letter-spacing: 0;
    text-transform: none;

    &.submit{
      background: $secondary-color;
    }

    &.reset{
      color: $dark-grey;
    }

    &.active{
      background-color: $primary-color;
      color: $secondary-color;
    }
  }

}

.filter-controls{
  margin-bottom: 1rem;

  @media (#{$bp-larger-than-tablet}) {
    display: inline-block;
    margin-left: 2rem;
  }
}

.filter-control{
  display: block;

  @media (#{$bp-larger-than-tablet}) {
    display: inline-block;
    margin-right: .75rem;
  }

  > *{
    width: 100%;
  }

  select{
    margin-bottom: .75rem;
  }
}

.filter-meta{
  margin-top: -1rem;
  color: $dark-grey;

  @media (#{$bp-larger-than-desktop}) {
    position: absolute;
    top: 1rem;
    right: 0;
  }
}
