.site-footer{
  padding-bottom: 6rem;
  background: $secondary-color url(../img/cat-dog.jpg) no-repeat;
  background-position: 10% bottom;

  @media screen and (#{$bp-larger-than-tablet}){
    background-position: 80% bottom;
    text-align: left;
    padding-bottom: 0;
  }

  a{
    color: $primary-color;
  }

  .info{
    padding: 2rem 0;
  }

  .engage{
    padding: 2rem 0;
    background: $primary-color;
    color: $secondary-color;

    a{
      color: $accent-color;
    }
  }

  .brand{
    display: block;
    color: $primary-color;
    font-size: 1.125rem;
    text-transform: uppercase;
  }
}

.hours{
  @extend .unstyled-list;

  li{
    margin-bottom: .5rem;
  }

  span{
    display: inline-block;
  }

  .hours-days{
    margin-right: .5rem;
    font-style: italic;
  }
}

.newsletter{
  clear: both;
  text-align: center;

  p{
    margin-bottom: .375rem;
  }
  a{
    display: block;
    margin-top: .5rem;
    text-decoration: underline;
    text-transform: uppercase;
  }
}
