.gallery-images{
  @extend .unstyled-list;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  justify-content: center;

  li{
    overflow: hidden;

    a{
      display: block;
      border-radius: $border-radius-box;

    }
  }

  img{
    @extend .responsive-img;
    border-radius: $border-radius-box;

  }

}

.gallery-video{

  iframe{
    max-width: 100%;
    height: auto;
    max-height: 132px;
    border-radius: $border-radius-box;
  }
}


.fslightbox-container{
  iframe{
    display: block !important;
  }
}
