.gallery-images{
  @extend .unstyled-list;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  justify-content: center;

  li{
    overflow: hidden;
  }

  img{
    @extend .responsive-img;
    border-radius: $border-radius-box;
  }

  iframe{
    max-width: 100%;
    height: auto;
    max-height: 132px;
    border-radius: $border-radius-box;
  }

}
