.site-header{
  background: $primary-color;

  .container{
    padding-top: 0;
    padding-bottom: 0;
  }

  .brand{
    position: relative;
    bottom: -.425rem;
    display: inline-block;
    width: 6rem;
    height: auto;

    @media (#{$bp-larger-than-tablet}) {
      width: 7rem;
      height: auto;
    }
  }

}
