.homepage-section{
  padding: 2rem 0;
  text-align: center;

  h2{
    margin-bottom: 1.5rem;
  }

  .button{
    margin-bottom: 0;
  }

  img{
    @extend .responsive-img;
  }
}

.hero{
  padding: 4rem 0;
  background: $secondary-color;

  h1{
    position: relative;
    font-size: 2rem;
    z-index: 500;

    @media (#{$bp-larger-than-tablet}) {
      max-width: 35rem;
      font-size: 2.25rem;
    }
  }

  img{
    max-width: 100%;
    height: auto;

    @media (#{$bp-larger-than-desktop}) {
      position: absolute;
      top: -2.5rem;
      right: 0;
      z-index: 100;
    }
  }

  .location{
    display: block;
    margin-top: 2rem;
    color: $primary-color;
    text-indent: -1.75rem;
    padding-left: 1.75rem;
  }

  svg{
    display: inline-block;
    width: 1rem;
    margin-right: .5rem;
    vertical-align: middle;
  }
}

.featured-buddies{
  @extend .homepage-section;
  padding-top: 4rem;

  .buddies{
    margin-bottom: 2rem;

    a{
      display: block;
      margin-bottom: 1rem;

      @media (#{$bp-larger-than-phablet}) {
        margin-bottom: 0;
      }

    }
  }
}

.upcoming-events{
  @extend .homepage-section;

  a{
    display: block;
    margin-bottom: 1rem;
    padding: 1rem;
    background: $secondary-color;
    text-align: left;
    color: $primary-color;

    @media (#{$bp-larger-than-phablet}) {
      margin-bottom: 0;
    }

    p{
      margin-top: .5rem;
      margin-bottom: 0;
      font-size: .875rem;
    }
  }
}

.help{
  @extend .homepage-section;

  .help-text{
    max-width: 80%;
    margin: 0 auto 4rem auto;

    h3{
      margin-bottom: 1rem;
    }
  }
}
