.homepage-section{
  padding: 2rem 0;
  text-align: center;

  h2{
    margin-bottom: 1.5rem;
  }

  .button{
    margin-bottom: 0;
  }

  img{
    @extend .responsive-img;
  }
}

.hero{
  padding: 4rem 0;
  background-color: $secondary-color;
  background-image: url(../img/collie5-mobile.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  position: relative;

  @media (#{$bp-larger-than-tablet}) {
    background-image: url(../img/collie5.jpg);
    background-position: 70% center;
  }

  .hero-text{
    position: relative;
    z-index: 500;

    @media (#{$bp-larger-than-tablet}) {
      max-width: 35rem;
    }
  }

  h1{
    font-size: 2rem;

    @media (#{$bp-larger-than-tablet}) {
      font-size: 2.25rem;
    }
  }

  video{
    position: absolute;
    top: 0;
    left: -12rem;
    height: 100%;
    -webkit-filter: brightness(.9);
    filter: brightness(.9);

    @media (#{$bp-larger-than-mobile}) {
      left: -6rem;
    }

    @media (#{$bp-larger-than-tablet}) {
      left: 0;
      height: auto;
      width: 100%;
    }

    @media (#{$bp-larger-than-desktop}){
      top: -6rem;
    }
  }

  .hero-image{
    position: absolute;
    right: 0;
    top: -2rem;
    margin: 0;

    figcaption{
      position: absolute;
      top: 2rem;
      right: 1rem;
      width: 45%;
      font-size: .75rem;
    }
  }

  .location{
    display: block;
    margin-top: 2rem;
    color: $primary-color;
    text-indent: -1.75rem;
    padding-left: 1.75rem;
  }

  svg{
    display: inline-block;
    width: 1rem;
    margin-right: .5rem;
    vertical-align: middle;
    fill: $white;
  }
}

.featured-buddies{
  @extend .homepage-section;
  padding-top: 4rem;
}

.upcoming-events{
  @extend .homepage-section;
}

.help{
  @extend .homepage-section;

  .help-text{
    max-width: 80%;
    margin: 0 auto 4rem auto;


    h3{
      margin-bottom: 1rem;
    }
  }
}
