.site-nav{
  margin-top: 2.75rem;
  display: none;

  @media screen and (#{$bp-larger-than-tablet}){
    display: block;
    float: right;
    margin-right: -2rem;
  }
}

.nav{
  @extend .unstyled-list;
  position: relative;

  li{
    display: inline-block;

    &.has-subnav{
      > a:after{
        content: '\25BC';
        display: inline-block;
        margin-left: .325rem;
        color: inherit;
        font-size: .5rem;
        vertical-align: middle;
      }

      &:last-child{
        .subnav{
          right: 0;
          text-align: right;
        }
      }
    }
    &:hover, &:focus-within{
      > a{
        color: $medium-orange;
      }
      .subnav{
        visibility: visible;
      }
    }
  }

  a{
    display: block;
    padding: .25rem .5rem;
    color: $font-color;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $secondary-color;
    font-family: $secondary-font-family;

    @media screen and (#{$bp-larger-than-desktop}){
      padding: .5rem 1.5rem;
    }
  }
}

.subnav{
  visibility: hidden;
  position: absolute;
  min-width: 40%;
  margin: 0;
  padding: 3rem .75rem 1rem;
  background-color: $dark-blue;
  z-index: 1000;

  li{
    display: block;
    margin-bottom: .5rem;
  }

  a{
    padding: .25rem .75rem;
    font-size: .875rem;
    color: $medium-orange;
  }
}

.mobile-nav-control {
  position: relative;
  top: 2rem;
  display: inline-block;
  float: right;
  height: auto;
  padding: .375rem 1rem;
  color: $secondary-color;
  background: $primary-color;
  border-color: transparent;
  font-family: $secondary-font-family;
  font-size: 1.5rem;

  @media screen and (#{$bp-larger-than-tablet}){
    display: none;
  }
}

.mobile-nav-open:before {
  content: '\2630';
}

.mobile-nav-close:before {
  content: '\00D7';
}
