.page{

  header{
    padding: 2rem 0;
    background: $secondary-color;

    h1{
      text-transform: uppercase;
    }

    p{

      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}

.content{
  padding: 3rem 0;
}

.section-label{
  display: block;
  margin-bottom: .125rem;
  font-size: .625rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $primary-color;
}

.section-nav{
  @extend .unstyled-list;

  li{
    margin: .5rem 0;
  }

  a{
    color: $primary-color;
    text-decoration: underline;
  }
}

.more{
  max-width: 80%;
  margin: auto;
  padding: 2rem 0 0;
  text-align: center;

  @media (#{$bp-larger-than-tablet}) {
    max-width: 60%;
  }

  h2{
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
}

.page-extras{

  .favorite{
    float: right;
  }

  .section-label{
    margin-top: 1rem;
  }

}
