.page{

  header{
    background: $secondary-color;

    h1{
      text-transform: uppercase;
    }

    p{

      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}

.content{
  padding-bottom: 4rem;

  h2{
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  a{
    text-decoration: underline;
  }

}

.section-label{
  display: block;
  margin-bottom: .125rem;
  font-size: .625rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $primary-color;
}

.section-nav{
  @extend .unstyled-list;

  li{
    display: inline-block;
    margin: .5rem .5rem .5rem 0;
  }

  a{
    color: $primary-color;
    text-decoration: underline;
  }
}

.more{
  max-width: 80%;
  margin: auto;
  padding: 2rem 0 0;
  text-align: center;

  @media (#{$bp-larger-than-tablet}) {
    max-width: 60%;
  }
}

.page-section{
  margin-bottom: 2rem;

  figure{
    margin: 0 0 1.5rem;
    text-align: center;

    figcaption{
      font-size: .875rem;
      font-style: italic;
    }
  }

  .fact{
    text-align: center;
    font-size: 2.375rem;
    line-height: 1.2;
    color: $accent-color;

    &:first-child{

      @media (#{$bp-larger-than-phablet}) {
        margin-top: 1rem;
      }
    }

    &:not(:last-child):after{
      content: " ";
      display: block;
      width: 20%;
      margin: auto;
      border-top: 3px solid $accent-color;
    }


    hr{
      width: 30%;
      border-top: 3px solid $accent-color;
    }
  }
}

.page-extras{
  overflow: hidden;

  .favorite{
    position: absolute;
    top: 0;
    right: 0;
    margin-bottom: 0;

    @media (#{$bp-larger-than-phablet}) {
      position: static;
      float: right;
      margin-left: 2rem;
    }
  }

  .share-buttons{
    margin-top: 1rem;

    @media (#{$bp-larger-than-phablet}) {
      float: right;
      margin-top: .5rem;
    }

    .share{
      margin: 0 .5rem 0 0;

      @media (#{$bp-larger-than-phablet}) {
        margin: 0 0 0 .5rem;
      }
    }
  }

  .section-label{
    margin-top: 1rem;
  }

}

.page-action{
  @media (#{$bp-larger-than-phablet}) {
    text-align: center;
  }
}
