.social{
  @extend .unstyled-list;
  margin-top: 2rem;

  @media screen and (#{$bp-larger-than-phablet}){
    margin-top: 1rem;
  }

  li{
    display: inline-block;
    margin-right: 1rem;

    a{
      display: block;
    }
  }

  svg{
    height: 3rem;
    width: 3rem;
    fill: $primary-color;
  }
}
