---
layout: base
---

<article class="page">
  <header>
    <div class="container">
      <div class="row">
        <div class="seven columns">
          <h1>{{ page.title }}</h1>
          <p>{{ page.description }}</p>
        </div>
        <div class="five columns">
          <div class="page-extras">
            {% if page.section_nav %}
              <h4 class="section-label">In this section</h4>
              <ul class="section-nav">
                {% for p in page.section_nav %}
                  <li><a href="{{ p|downcase }}">{{ p }}</a></li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="content">
    <div class="container">
      {{ content }}
    </div>
  </section>
</article>
